<h1>thêm</h1>

<form action="/add" method="post">
    maLopHoc: <input type="text" maLopHoc="maLopHoc"><br>
    tenLop: <input type="text" tenLop="tenLop"><br>
    soLuong: <input type="number" soLuong="soLuong"><br>
    maGiangVien: <input type="text" maGiangVien="maGiangVien"><br>
    <button type="submit"> them </button>
    

</form>